In [1]:
#Import Dataset
#==============================================
import pandas as pd
URL = "../data/processed/healthcare-dataset-stroke-data-T.csv"
df = pd.read_csv(URL)
df.head()

,Unnamed: 0,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,9046,1,67.0,0,1,1,1,1,228.69,36.6,2,1
1,2,31112,1,80.0,0,1,1,1,0,105.92,32.5,1,1
2,3,60182,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,4,1665,0,79.0,1,0,1,2,0,174.12,24.0,1,1
4,5,56669,1,81.0,0,0,1,1,1,186.21,29.0,2,1

In [106]:
# Model initiation
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [107]:
#Definimos nuetras X e Y
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values.reshape(-1,1).ravel()

In [111]:
#initiate SFK
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=50)
skf.get_n_splits(X, Y)  
Knn_scores  = {'accuracy':[],'precision':[],'recall':[]}

In [115]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
#bucle
for train_index, test_index in skf.split(X, Y):  
    #Model Split
    X_train, X_test = X[train_index], X[test_index]
    Y_train, Y_test = Y[train_index], Y[test_index]
    #Train
    ModeloKNNC=model.fit(X_train, Y_train) 
    
    #Calculo de metricas para cada entrenamiento
    Knn_scores['precision'].append(precision_score(Y_test,Knn_prediction))
    Knn_scores['recall'].append(recall_score(Y_test,Knn_prediction))
    Knn_scores['accuracy'].append(accuracy_score(Y_test,Knn_prediction))

NameError: name 'Knn_prediction' is not defined